@theme {
    --color-primary: #37CAA5;
    --color-primary-50: #EBFAF6;
    --color-primary-100: #D7F4ED;
    --color-primary-200: #AFEADB;
    --color-primary-300: #87DFC9;
    --color-primary-400: #5FD5B7;
    --color-primary-500: #37CAA5;
    --color-primary-600: #2CA284;
    --color-primary-700: #217963;
    --color-primary-800: #165142;
    --color-primary-900: #0B2821;
    --color-secondary: #447FCB;
    --color-secondary-50: #ECF2FA;
    --color-secondary-100: #DAE5F5;
    --color-secondary-200: #B4CCEA;
    --color-secondary-300: #8FB2E0;
    --color-secondary-400: #6999D5;
    --color-secondary-500: #447FCB;
    --color-secondary-600: #3666A2;
    --color-secondary-700: #294C7A;
    --color-secondary-800: #1B3351;
    --color-secondary-900: #0E1929;
    --color-gray-50: #F9FAFB;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D2D5DA;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6D7280;
    --color-gray-600: #4B5563;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;
    --color-success: #06C270;
    --color-success-100: #E6F9F1;
    --color-success-200: #39D98A;
    --color-success-300: #05A660;
    --color-info: #0063F7;
    --color-info-100: #E6EFFE;
    --color-info-200: #5B8DEF;
    --color-info-300: #004FC4;
    --color-warning: #FFCC00;
    --color-warning-100: #FFFAE6;
    --color-warning-200: #FDDD48;
    --color-warning-300: #E5B800;
    --color-error: #FF3B3B;
    --color-error-100: #FFEBEB;
    --color-error-200: #FF5C5C;
    --color-error-300: #E53535;
    --color-text: #111827;
    --color-background: white;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 16px;
    --radius-lg: 24px;
    --radius-xl: 32px;
    --radius-2xl: 40px;
    --radius-3xl: 48px;
    --radius-4xl: 64px;
    --shadow-100: 0 1px 4px 0 rgba(12, 12, 13, 0.05);
    --shadow-200: 0 1px 4px 0 rgba(12, 12, 13, 0.05), 0 1px 4px 0 rgba(12, 12, 13, 0.10);
    --shadow-300: 0 4px 4px -1px rgba(12, 12, 13, 0.05), 0 4px 4px -1px rgba(12, 12, 13, 0.10);
    --shadow-400: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.10);
    --shadow-500: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 16px -8px rgba(12, 12, 13, 0.10);
    --shadow-600: 0 16px 32px -8px rgba(12, 12, 13, 0.40);
  }

